* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  background-color: #040A10;
  color: #fcfcfc;
  align-items: center;
}
header #menu-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 0px 0px 10vw;
}
header #menu-block #burguer {
  width: 54px;
  height: 18px;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 1.1rem;
  line-height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  margin-top: -3px;
  border: none;
}
header #menu-block .dropdown {
  position: relative;
  display: inline-block;
}
header #menu-block #dropdown-content {
  margin-left: -10px;
  display: none;
  position: absolute;
  background-color: #040A10;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header #menu-block #dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header #menu-block #dropdown-content a:hover {
  background-color: rgba(241, 241, 241, 0.1019607843);
}
header #menu-block .dropdown:hover #dropdown-content {
  display: block;
}
header #menu-block #menu-text:hover {
  display: block;
}
header #menu-block #menu-text:hover .dropbtn {
  background-color: #fff;
}
header #menu-block #dotted-line {
  width: 30px;
  height: 30px;
  line-height: 24px;
  transform: rotate(90deg);
}
header #menu-block #logo-text {
  width: 57px;
  height: 21.04px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 24px;
  color: #FFFFFF;
}
header #menu-block #logo-text img {
  width: 60px;
  margin-top: -30%;
}
header #search-block {
  padding-right: 10vw;
}
header #search-block #search-background {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 148px;
  height: 32px;
  align-items: center;
  background: #07111B;
  opacity: 0.7;
  border-radius: 20px;
}
header #search-block #search-background #glass {
  padding-left: 10px;
  width: 21px;
  height: 20px;
}
header #search-block #search-background #search-text {
  padding-left: 30px;
  width: 44px;
  height: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 16px;
  color: #FFFFFF;
}

#start {
  height: 90vh;
  width: 100%;
  background-color: #000;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
}
#start div {
  width: 50%;
  color: white;
  font-family: "Work Sans", sans-serif;
  margin-left: 15%;
}
#start div h2 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 30px;
}
#start div p {
  margin-top: 25px;
  font-weight: 300;
  line-height: 23px;
  font-size: 18px;
}

#vant {
  height: 110vh;
  width: 100%;
  background-color: #fcfcfc;
  align-items: center;
  justify-content: center;
  display: flex;
}
#vant hr {
  border-radius: 2px;
  margin-bottom: 10px;
}
#vant div {
  width: 30%;
  height: 85%;
}
#vant div h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 23px;
}
#vant div h4 {
  font-family: "Lato", sans-serif;
  color: #0F355C;
  font-weight: 700;
  font-size: 18px;
}
#vant div p {
  text-align: justify;
  font-weight: 500;
}
#vant .icons {
  display: block;
  height: 80%;
}
#vant .icons .ic {
  border: 1px solid #000;
  display: flex;
  height: 120px;
  width: 120px;
  background-color: #0F355C;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
#vant .icons #cro {
  margin-left: 28%;
  margin-top: 20%;
  display: flex;
}
#vant .icons #wif {
  margin-left: 80%;
  margin-top: 12%;
  display: flex;
}
#vant .icons #bat {
  margin-left: 10%;
  margin-top: 19%;
  display: flex;
}

#fraz {
  background-color: rgba(69, 93, 121, 0.7294117647);
  background-image: url(../img/Rectangle\ 3.png);
  height: 230px;
  width: 100%;
}
#fraz .div {
  align-items: center;
  justify-content: center;
  display: grid;
  justify-items: center;
}
#fraz .div img {
  margin-top: 50px;
}
#fraz .div h4 {
  margin: 20px;
  font-weight: 600;
  width: 55%;
  font-family: "Work Sans";
  font-size: 20px;
  line-height: 23px;
}
#fraz .div p {
  margin-top: 15px;
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 20px;
  color: #0F355C;
}

#security article {
  padding: 10vh 0;
  width: 80vw;
  height: 70vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
#security article .section-tittle {
  padding-left: 4vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
#security article .section-tittle h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
#security article #content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
}
#security article #content .content-block {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  text-align: center;
}
#security article #content .content-block h3 {
  color: #0F355C;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}
#security article #content .content-block p {
  width: 20vw;
  text-align: justify;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

#conclusion {
  background-color: rgba(69, 93, 121, 0.7294117647);
  height: 80vh;
  padding-top: 10vh;
}
#conclusion article {
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin: auto;
  text-align: center;
}
#conclusion article .section-tittle {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
#conclusion article .section-tittle hr {
  margin: auto;
}
#conclusion article .section-tittle h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
#conclusion article p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: justify;
}

footer {
  background-color: #040A10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer #social-area {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  align-items: center;
}
footer #social-area .footer-icon {
  width: 90px;
  height: 90px;
}
footer #social-area .footer-icon:hover {
  cursor: pointer;
}
footer #footer-last-div h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 35px;
  color: #FFFFFF;
}
footer #footer-last-div img {
  width: 80px;
}
footer #footer-last-div #useful-links {
  max-width: 20vw;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
footer #footer-last-div #useful-links a {
  text-decoration: none;
  font-style: normal;
  font-weight: 200;
  font-size: 0.8rem;
  line-height: 0px;
  text-align: center;
  color: #FFFFFF;
}
footer #footer-last-div #useful-links a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */