* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  width: 98.9vw;
  background-color: #040A10;
  color: #fcfcfc;
  align-items: center;
}
header #menu-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 0px 0px 10vw;
}
header #menu-block #burguer {
  width: 30px;
  height: 30px;
  line-height: 24px;
}
header #menu-block #menu-text {
  width: 54px;
  height: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 24px;
  color: #FFFFFF;
}
header #menu-block #dotted-line {
  width: 30px;
  height: 30px;
  line-height: 24px;
  transform: rotate(90deg);
}
header #menu-block #logo-text {
  width: 57px;
  height: 21.04px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 24px;
  color: #FFFFFF;
}
header #search-block {
  padding-right: 10vw;
}
header #search-block #search-background {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 148px;
  height: 32px;
  align-items: center;
  background: #07111B;
  opacity: 0.7;
  border-radius: 20px;
}
header #search-block #search-background #glass {
  padding-left: 10px;
  width: 21px;
  height: 20px;
}
header #search-block #search-background #search-text {
  padding-left: 30px;
  width: 44px;
  height: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 16px;
  color: #FFFFFF;
}

#start {
  height: 90vh;
  width: 98.9vw;
  background-color: #000;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
}
#start div {
  width: 50vw;
  color: white;
  font-family: "Work Sans", sans-serif;
  margin-left: 15%;
}
#start div h2 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 30px;
}
#start div p {
  margin-top: 25px;
  font-weight: 300;
  line-height: 23px;
  font-size: 18px;
}

#vant {
  height: 110vh;
  width: 98.9vw;
  background-color: #fcfcfc;
  align-items: center;
  justify-content: center;
  display: flex;
}
#vant hr {
  background-color: #0F355C;
  width: 50px;
  height: 4px;
  border-radius: 2px;
  margin-bottom: 10px;
}
#vant div {
  width: 30vw;
  height: 85vh;
}
#vant div h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 23px;
}
#vant div h4 {
  font-family: "Lato", sans-serif;
  color: #0F355C;
  font-weight: 700;
  font-size: 18px;
}
#vant div p {
  text-align: justify;
  font-weight: 500;
}
#vant .icons {
  display: block;
  height: 80%;
}
#vant .icons .ic {
  border: 1px solid #000;
  display: flex;
  height: 120px;
  width: 120px;
  background-color: #0F355C;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
#vant .icons #cro {
  margin-left: 28%;
  margin-top: 20%;
  display: flex;
}
#vant .icons #wif {
  margin-left: 80%;
  margin-top: 12%;
  display: flex;
}
#vant .icons #bat {
  margin-left: 10%;
  margin-top: 19%;
  display: flex;
}

#fraz {
  background-color: rgba(69, 93, 121, 0.7294117647);
  background-image: url(../img/Rectangle\ 3.png);
  height: 230px;
  width: 98.9vw;
}
#fraz .div {
  align-items: center;
  justify-content: center;
  display: grid;
  justify-items: center;
}
#fraz .div img {
  margin-top: 50px;
}
#fraz .div h4 {
  margin: 20px;
  font-weight: 600;
  width: 55%;
  font-family: "Work Sans";
  font-size: 20px;
  line-height: 23px;
}
#fraz .div p {
  margin-top: 15px;
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 20px;
  color: #0F355C;
}

#security {
  display: flex;
  flex-direction: column;
}
#security .section-tittle {
  padding-top: 10vh;
  padding-left: 15vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
#security .section-tittle hr {
  background-color: #0F355C;
  width: 50px;
  height: 4px;
  border-radius: 2px;
}
#security .section-tittle h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
#security .article {
  padding: 10vh 0;
  width: 80vw;
  height: 70vh;
  margin: auto;
}
#security .article #content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
}
#security .article #content .content-block {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  text-align: center;
}
#security .article #content .content-block h3 {
  color: #0F355C;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}
#security .article #content .content-block p {
  width: 20vw;
  text-align: justify;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

#conclusion {
  background-color: rgba(69, 93, 121, 0.7294117647);
  height: 80vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
}
#conclusion .section-tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#conclusion .section-tittle hr {
  background-color: #0F355C;
  width: 50px;
  height: 4px;
  border-radius: 2px;
  margin: auto;
}
#conclusion .section-tittle h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
#conclusion .article {
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin: 10vh auto auto auto;
  text-align: center;
}
#conclusion .article p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: justify;
}

footer {
  background-color: #040A10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer #social-area {
  width: 98.9vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  align-items: center;
}
footer #social-area hr {
  background-color: #fff;
  width: 25%;
  height: 3px;
  border-radius: 2px;
}
footer #social-area .footer-icon {
  width: 90px;
  height: 90px;
}
footer #social-area .footer-icon:hover {
  cursor: pointer;
}
footer #footer-last-div h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 35px;
  color: #FFFFFF;
}
footer #footer-last-div #useful-links {
  max-width: 20vw;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
footer #footer-last-div #useful-links a {
  text-decoration: none;
  font-style: normal;
  font-weight: 200;
  font-size: 0.8rem;
  line-height: 0px;
  text-align: center;
  color: #FFFFFF;
}
footer #footer-last-div #useful-links a:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  #vant .icons {
    display: none;
  }
  #vant div {
    width: 75vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #fraz .div h4 {
    width: 88vw;
  }
  #security .article {
    height: 100vh;
  }
  #security .article #content {
    flex-direction: column;
  }
  #security .article #content .content-block p {
    width: 80vw;
  }
  #conclusion {
    height: 130%;
    padding-bottom: 5vh;
  }
  footer #footer-last-div #useful-links {
    max-width: 97vw;
  }
}/*# sourceMappingURL=style.css.map */